In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('Advertising_data.csv')
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [5]:
X=df[['Gender','Age','EstimatedSalary']]
y=df['Purchased']
X

     Gender   Age  EstimatedSalary
0      Male  19.0          19000.0
1      Male  35.0          20000.0
2    Female  26.0          43000.0
3    Female  27.0          57000.0
4      Male  19.0          76000.0
..      ...   ...              ...
395  Female  46.0          41000.0
396    Male  51.0          23000.0
397  Female  50.0          20000.0
398    Male  36.0          33000.0
399  Female  49.0          36000.0

[400 rows x 3 columns]

In [9]:
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [10]:
X=X.drop(['Gender'],axis=1)

In [11]:
X=pd.concat([X,gender],axis=1)

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.25)

In [13]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [14]:
#Fitting RFC
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=50)
model.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=50)

In [15]:
from sklearn.model_selection import RandomizedSearchCV

In [16]:
from scipy.stats import randint

In [22]:
RSCV = RandomForestClassifier(n_jobs=-1)
params = {'n_estimators':[1,10,100,1000],
         'criterion':['gini','entropy'],
         'max_depth':[3,5,10,None],
         'max_features':randint(1,3),
         'min_samples_leaf':randint(1,4),
         'bootstrap':[True,False]}

In [23]:
def ranfor(RSCV, p_distr, nbr_iter, X,y):
    randomsearch=RandomizedSearchCV(RSCV, param_distributions=params,n_iter=nbr_iter,n_jobs=-1,cv=9)
    randomsearch.fit(X,y)
    param_rs=randomsearch.best_params_
    score_rs=randomsearch.best_score_
    return param_rs,score_rs

In [27]:
rf_params,rf_score=ranfor(RSCV,params,40,X,y)

{'bootstrap': False,
 'criterion': 'entropy',
 'max_depth': 3,
 'max_features': 2,
 'min_samples_leaf': 1,
 'n_estimators': 10}

In [ ]:
rf_params

In [28]:
y_pred=model.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)
acc

0.91

In [38]:
classifier=RandomForestClassifier(n_jobs=-1,n_estimators=300,bootstrap=True,criterion='entropy',max_depth=3,max_features=2,min_samples_leaf=3)

In [39]:
classifier=classifier.fit(X_train,y_train)

In [40]:
y_pred=classifier.predict(X_test)

In [41]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)
acc

0.94

In [42]:
from sklearn.model_selection import cross_val_score
crossval=cross_val_score(classifier,X,y,cv=10,scoring='accuracy').mean()
crossval

0.89

In [ ]:
s